<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>
</head>
<body>
	<h2 th:text="${title}"></h2>
	<button type="button" id="listBtn">기능</button>
	<table border="1">
		<thead>
			<tr>
				<th>회원아이디</th>
				<th>회원이메일</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="l : ${memberList}">
				<td th:text="${l.memberId}"></td>
				<td th:text="${l.memberEmail}"></td>
			</tr>
		</tbody>
	</table>
</body>
</html>